In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
# examine data
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# check length of list of unique school names to get # of schools
school_count = len(school_data_complete["school_name"].unique())

# check length of list of unique student names to get # of students
student_count = len(school_data_complete["student_name"])

# sum budget data from the school data dataframe
total_budget = school_data["budget"].sum()

# average student's math scores
avg_math = school_data_complete["math_score"].mean()

# average student's reading scores
avg_read = school_data_complete["reading_score"].mean()

# calc # of students passing by getting length of list of passing students
m_passing_students = len(school_data_complete.loc[school_data_complete["math_score"]>=70,:])
r_passing_students = len(school_data_complete.loc[school_data_complete["reading_score"]>=70,:])
passing_students = len(school_data_complete.loc[(school_data_complete["reading_score"]>=70)&(school_data_complete["math_score"]>=70),:])

In [4]:
# calc % passing math
per_pass_math = (m_passing_students / student_count)*100
per_pass_math

74.9808526933878

In [5]:
# calc % passing reading
per_pass_read = (r_passing_students / student_count)*100
per_pass_read

85.80546336482001

In [6]:
# calc % passing both
per_pass = (passing_students / student_count)*100
per_pass

65.17232575950983

In [7]:
# create dataframe using the above calculated values
dist_summary = pd.DataFrame({"Total Schools":[school_count],
                            "Total Students":student_count,
                            "Total Budget":total_budget,
                            "Average Math Score":avg_math,
                            "Average Reading Score":avg_read,
                            "% Passing Math":per_pass_math,
                            "% Passing Reading":per_pass_read,
                            "% Overall Passing":per_pass_math})
dist_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,74.980853

In [8]:
# group school data to get AGGREGATED values from the merged dataframe
# remember that grouped_school is NOT a dataframe now but a groupby OBJECT
grouped_school = school_data_complete.groupby(['school_name','type'])
grouped_school.count()

,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,District,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,Charter,427,427,427,427,427,427,427,427,427
Huang High School,District,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,District,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,Charter,962,962,962,962,962,962,962,962,962
Rodriguez High School,District,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,Charter,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,Charter,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,Charter,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,Charter,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [9]:
# get list of students passing math, reading, and 
passing_math = school_data_complete.loc[school_data_complete["math_score"]>=70,:]
passing_reading = school_data_complete.loc[school_data_complete["reading_score"]>=70,:]
passing_both = school_data_complete.loc[(school_data_complete["math_score"]>=70)&(school_data_complete["reading_score"]>=70),:]

In [10]:
group_math = passing_math.groupby("school_name").count()["student_name"]
group_reading = passing_reading.groupby("school_name").count()["student_name"]
group_both = passing_both.groupby("school_name").count()["student_name"]

In [11]:
school_students = grouped_school['student_name'].count()
type_school = grouped_school['type']
total_budget = grouped_school['budget'].mean()
per_student_budget = total_budget / school_students
avg_math_score = grouped_school['math_score'].mean()
avg_reading_score = grouped_school['reading_score'].mean()

In [12]:
sc_per_pass_math = group_math / school_students
sc_per_pass_reading = group_reading / school_students
sc_per_pass_both = group_both / school_students

In [13]:
school_summary = pd.DataFrame({'Total Students':school_students,
                               'Total School Budget':total_budget,
                               'Per Student Budget':per_student_budget,
                               'Average Math Score':avg_math_score,
                               'Average Reading Score':avg_reading_score,
                               'Percentage Passing Math':sc_per_pass_math,
                               'Percentage Passing Reading':sc_per_pass_reading,
                               'Percentage Passing Overall':sc_per_pass_both,
})
school_summary

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
school_name,type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333

In [14]:
top_schools = school_summary.sort_values("Percentage Passing Overall", ascending= False)
top_schools.head(5)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
school_name,type,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405

In [15]:
bottom_schools = school_summary.sort_values("Percentage Passing Overall")
bottom_schools.head(5)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
school_name,type,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392

In [16]:
ninth = school_data_complete.loc[school_data_complete["grade"]=="9th",:]
tenth = school_data_complete.loc[school_data_complete["grade"]=="10th",:]
eleventh = school_data_complete.loc[school_data_complete["grade"]=="11th",:]
twelvth = school_data_complete.loc[school_data_complete["grade"]=="12th",:]

In [17]:

group_9_math = ninth.groupby("school_name").mean()["math_score"]

group_10_math = tenth.groupby("school_name").mean()["math_score"]

group_11_math = eleventh.groupby("school_name").mean()["math_score"]

group_12_math = twelvth.groupby("school_name").mean()["math_score"]

In [18]:
grade_math_summary = pd.DataFrame({"9th":group_9_math,
                                   "10th":group_10_math,
                                   "11th":group_11_math,
                                   "12th":group_12_math
})
grade_math_summary

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [19]:

group_9_read = ninth.groupby("school_name").mean()["reading_score"]

group_10_read = tenth.groupby("school_name").mean()["reading_score"]

group_11_read = eleventh.groupby("school_name").mean()["reading_score"]

group_12_read = twelvth.groupby("school_name").mean()["reading_score"]

In [20]:
grade_read_summary = pd.DataFrame({"9th":group_9_read,
                                   "10th":group_10_read,
                                   "11th":group_11_read,
                                   "12th":group_12_read
})
grade_read_summary

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [26]:
bins = [0,584.99,629.99,644.99,680]
group_names = ["<$585","$585-630","$630-645","$645-680"]
school_summary["Spending Ranges (Per Student)"]=pd.cut(school_summary["Per Student Budget"],bins,
                                                       labels = group_names,include_lowest = True)
school_summary

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall,Spending Ranges (Per Student)
school_name,type,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423,$585-630
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348,<$585
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045,$630-645
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899,$630-645
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995,$585-630
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275,$645-680
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272,<$585
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139,$645-680
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392,$645-680
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405,$585-630
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882,$630-645
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921,$585-630
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480,$630-645
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826,<$585
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333,<$585

In [33]:
grouped_spend = school_summary.groupby("Spending Ranges (Per Student)")
grouped_spend.mean()[["Average Math Score","Average Reading Score","Percentage Passing Math","Percentage Passing Reading",
                    "Percentage Passing Overall"]]

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,0.934601,0.966109,0.903695
$585-630,81.899826,83.155286,0.871335,0.927182,0.814186
$630-645,78.518855,81.624473,0.734842,0.843918,0.628577
$645-680,76.997210,81.027843,0.661648,0.811340,0.535269

In [35]:
bins2 = [0,999,1999,5000]
group_names2 = ["Small (<1000)","Medium (1000-2000)","Large (2000-5000)"]
school_summary["School Size"]=pd.cut(school_summary["Total Students"],bins2,
                                                       labels = group_names2,include_lowest = True)
school_summary

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall,Spending Ranges (Per Student),School Size
school_name,type,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,0.666801,0.819333,0.546423,$585-630,Large (2000-5000)
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,0.941335,0.970398,0.913348,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,0.659885,0.807392,0.532045,$630-645,Large (2000-5000)
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,0.683096,0.792990,0.542899,$630-645,Large (2000-5000)
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,0.933924,0.971390,0.905995,$585-630,Medium (1000-2000)
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,0.667530,0.808630,0.535275,$645-680,Large (2000-5000)
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,0.925059,0.962529,0.892272,<$585,Small (<1000)
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,0.656839,0.813164,0.535139,$645-680,Large (2000-5000)
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,0.660576,0.812224,0.535392,$645-680,Large (2000-5000)
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,0.945946,0.959459,0.905405,$585-630,Small (<1000)
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,0.663666,0.802201,0.529882,$630-645,Large (2000-5000)
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,0.938671,0.958546,0.898921,$585-630,Medium (1000-2000)
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,0.932722,0.973089,0.909480,$630-645,Medium (1000-2000)
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,0.938677,0.965396,0.905826,<$585,Large (2000-5000)
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,0.933333,0.966111,0.903333,<$585,Medium (1000-2000)

In [37]:
grouped_size = school_summary.groupby("School Size")
grouped_size.mean()[["Average Math Score","Average Reading Score","Percentage Passing Math","Percentage Passing Reading",
                    "Percentage Passing Overall"]]

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
School Size,,,,,
Small (<1000),83.821598,83.929843,0.935502,0.960994,0.898839
Medium (1000-2000),83.374684,83.864438,0.935997,0.967907,0.906215
Large (2000-5000),77.746417,81.344493,0.699634,0.827666,0.582860

In [39]:
grouped_type = school_summary.groupby("type")
grouped_type.mean()[["Average Math Score","Average Reading Score","Percentage Passing Math","Percentage Passing Reading",
                    "Percentage Passing Overall"]]

,Average Math Score,Average Reading Score,Percentage Passing Math,Percentage Passing Reading,Percentage Passing Overall
type,,,,,
Charter,83.473852,83.896421,0.936208,0.965865,0.904322
District,76.956733,80.966636,0.665485,0.807991,0.536722